{% extends 'base.html.twig' %}

{% block title %}Se connecter{% endblock %}

{% block body %}
<main class="container">

    {%  include('logo.html.twig') %}

    <div class="text-center mb-5">
        <h1>Veuillez vous connecter&nbsp;!</h1>
    </div>

    <form method="post">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        {% if app.user %}
            <div class="mb-3">
                Bienvenue {{ app.user.username }}, <a href="{{ path('app_logout') }}">Déconnexion</a>
            </div>
        {% endif %}

        <div class="form-group row">
            <label class="col-md-2 col-form-label" for="inputUsername">Pseudo</label>
            <div class="col-md-10">
                <input type="text" class="form-control form-control-lg" value="{{ last_username }}" name="username" id="inputUsername" placeholder="Mon pseudo" required autofocus>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-md-2 col-form-label" for="inputPassword">Mot de passe</label>
            <div class="col-md-10">
                <input type="password" class="form-control form-control-lg" name="password" id="inputPassword" required>
            </div>
        </div>

        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

        <div class="checkbox mb-3">
            <label class="offset-md-2">
                <input type="checkbox" name="_remember_me"> Se rappeler de moi.
            </label>
        </div>

        <div class="row justify-content-md-center">
            <div class="col">
                <button type="submit" class="lobster btn btn-lg btn-perso5 mb-2 col align-self-center">Se connecter</button>
            </div>
        </div>
    </form>

    <div class="text-center my-3">
        <p>Pas encore de compte ? <a href="/register">S'enregistrer ici...</a></p>
    </div>
</main>
{% endblock %}

{% block footer %}
    {%  include('footer.html.twig') %}
{% endblock %}