{% extends 'base.html.twig' %}

{% block title %}Gamer{% endblock %}

{% block body %}
    <h1>Gamer</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ gamer.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ gamer.name }}</td>
            </tr>
            <tr>
                <th>Pseudo</th>
                <td>{{ gamer.pseudo }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ gamer.email }}</td>
            </tr>
            <tr>
                <th>Avatar</th>
                <td>{{ gamer.avatar }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('gamer_index') }}">back to list</a>

    <a href="{{ path('gamer_edit', {'id': gamer.id}) }}">edit</a>

    {{ include('gamer/_delete_form.html.twig') }}
{% endblock %}
