{% extends 'base.html.twig' %}

{% block title %}Contact{%  endblock %}

{% block body %}
    <main class="container">

        {%  include('logo.html.twig') %}

        <div class="text-center mb-5">
            <h1>Contactez-nous !</h1>
        </div>

        {{ form_start(contactForm) }}

            {{ form_row(contactForm.name) }}
            {{ form_row(contactForm.email) }}
            {{ form_row(contactForm.object) }}
            {{ form_row(contactForm.message, {'attr': {'rows': 4, 'placeholder': 'Bonjour,'} }) }}

        <button class="lobster btn btn-lg btn-perso5 my-2 col align-self-center">Envoyer</button>

        {{ form_end(contactForm) }}

    </main>
{% endblock %}

{% block footer %}
    {%  include('footer.html.twig') %}
{% endblock %}